<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VGAutoScrollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>768443C31F4868D1005DC3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768443DC1F4868D1005DC3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768443E71F4868D1005DC3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
